
.blocks{
  background-color: lightgreen;
  }
#first{
  height: 55px;
  width: 280px;
  margin-left: 10px;
  margin-top:10px  
}
#second{
  height: 135px;
  width: 280px;
  margin-left: 10px;
  margin-top:10px
}
#third{
  height: 120px;
  width: 280px;
  margin-left: 10px;
}
#fourth{
  height: 100px;
  width: 280px;
  margin-left: 10px;
}
#fiveth{
  height: 100px;
  width: 280px;
  margin-left: 10px;
}
#sixth{

}
h2{
  margin-left: 10px;
  font-size: 20px;
}
.titles{
  text-align: center;
  font-size: 28px;
}

img{
  width: 150px;
  height: 150px;
  margin-left: 75px;
  border-radius: 10px;
  }

  .number {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: lightgrey; 
    width: 200px;
    font-size: 32px;
    height: 50px;
    margin-left: 60px;
  }

  .danie{
    margin-left: 10px;
    font-size: 16px;
  }
  .tit{
    font-size: 20px;
  }
  .neitral{
    position: absolute;
  }
  #pervoe{
    width: 80px;
    height: 80px;
    margin-left: 150px;
    margin-top: -10px;
  }
  #vtoroe{
    height: 50px;
    width: 50px;
    margin-left: 5px;
  }

.right_side{
  position: absolute;
  left: 320px;
  top: 10px;
}
#sixth{
  height: 150px;
  width: 280px;
  
}
#seventh{
  height: 150px;
  width: 280px;
  margin-top: 10px;
}
#eighth{
  height: 150px;
  width: 280px;
  margin-top: 10px;
}
#nineth{
  height: 150px;
  width: 280px;
  margin-top: 10px;
}
p{
  margin-left: 10px;
}
#Py{
  position: absolute;
  height: 60px;
  width: 60px;
  margin-top: -15px;
  right: 20px;
}
#ccc{
  position: absolute;
  height: 60px;
  width: 60px;
  right: 100px;
  margin-top: -15px;
}
#obrazovanie{
  position: absolute;
  height: 60px;
  width: 60px;
  margin-top: -35px;
  right: 50px;
}